
* {
  box-sizing: border-box;

}

@media screen and (min-width: 550px)
html {
font-size: 1.2em;
}
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

}

header {
      background-color: #06D6A0;
      text-align: center;
      overflow:hidden;
      height: :60px;
      padding: 0 20px;
}

nav {
  box-sizing: border-box;
  float:right;
}
@media screen and (min-width: 550px)
.logo {
    float: left;
    line-height: 60px;
    font-size: 18px;
  }
.header-logo {
    float: left;
    margin: 0;
    color: white;
    font-size: 30px;
    line-height: 60px;
    font-size: 18px;

}
.navbar-list{
  @media screen and (min-width: 550px)
.navbar {
    float: right;
    padding: 0;
}
ul{
  margin: 0;
  list-style-type: none;
}
}
user agent stylesheet
ul, menu, dir {
  display: block;
webkit-margin-before: 1em;
webkit-margin-after: 1em;
webkit-margin-start: 0px;
webkit-margin-end: 0px;
webkit-padding-start: 40px;
}
@media screen and (min-width: 550px)
.nav-item {
    display: inline-block;
    margin-right: 10px;
    line-height: 60px;
  }

  .nav-item {
      margin-bottom: 5px;
      display: inline;
  }
  a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
